<!DOCTYPE html>
<html>
<head>
  <title>PaperclipDelivery</title>
  <%= stylesheet_link_tag    "paperclip_delivery/application", media: "all" %>
  <%= javascript_include_tag "paperclip_delivery/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
